#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// MENU

MENU MENU
BEGIN
/////////////////////////////////////////////////////////////////////////////
	POPUP "ファイル(&F)"
	BEGIN
		MENUITEM	"開く(&O)\tCtrl+O",	IDM_KEY_CTRL_O, GRAYED
		MENUITEM	"保存(&S)\tCtrl+S",	IDM_KEY_CTRL_S, GRAYED
		MENUITEM SEPARATOR
		MENUITEM	"終了(&Q)\tESC",	IDM_KEY_ESCAPE
	END

/////////////////////////////////////////////////////////////////////////////
	POPUP "編集(&E)"
	BEGIN
		POPUP "現在のレイヤーから選択(&1)"
		BEGIN
			MENUITEM	"ノードを選択(&1)",								IDM_EDIT_FOR_CURRENT_SELECT_NODES
			MENUITEM	"エッジを選択(&2)",								IDM_EDIT_FOR_CURRENT_SELECT_EDGES
			MENUITEM	"コミュニティを選択(&3)"	,					IDM_EDIT_FOR_CURRENT_SELECT_COMMUNITIES
			MENUITEM	"コミュニティエッジを選択(&4)",					IDM_EDIT_FOR_CURRENT_SELECT_COMMUNITY_EDGES
			MENUITEM SEPARATOR
			MENUITEM	"コミュニティに所属するノードを選択(&5)",					IDM_EDIT_FOR_CURRENT_SELECT_INNER_COMMUNITY_NODES
			MENUITEM	"コミュニティに所属するエッジを選択(&6)",					IDM_EDIT_FOR_CURRENT_SELECT_INNER_COMMUNITY_EDGES
			MENUITEM	"コミュニティに所属するノードとエッジを選択(&7)",			IDM_EDIT_FOR_CURRENT_SELECT_INNER_COMMUNITY_ELEMENTS
			MENUITEM SEPARATOR
			MENUITEM	"コミュニティに所属しないノードを選択(&8)",			IDM_EDIT_FOR_CURRENT_SELECT_OUTER_COMMUNITY_NODES
			MENUITEM	"コミュニティに所属しないエッジを選択(&9)",			IDM_EDIT_FOR_CURRENT_SELECT_OUTER_COMMUNITY_EDGES
			MENUITEM	"コミュニティに所属しないノードとエッジを選択(&0)",	IDM_EDIT_FOR_CURRENT_SELECT_OUTER_COMMUNITY_ELEMENTS
			MENUITEM SEPARATOR
			MENUITEM	"全てを選択(&A)\tCtrl+A",						IDM_EDIT_FOR_CURRENT_SELECT_ALL
			MENUITEM	"選択を反転(&I)\tCtrl+I",						IDM_EDIT_FOR_CURRENT_SELECT_INVERT
		END
		POPUP "全てのレイヤーから選択(&2)"
		BEGIN
			MENUITEM	"ノードを選択(&1)",								IDM_EDIT_FOR_ALL_SELECT_NODES
			MENUITEM	"エッジを選択(&2)",								IDM_EDIT_FOR_ALL_SELECT_EDGES
			MENUITEM	"コミュニティを選択(&3)",						IDM_EDIT_FOR_ALL_SELECT_COMMUNITIES
			MENUITEM	"コミュニティエッジを選択(&4)",					IDM_EDIT_FOR_ALL_SELECT_COMMUNITY_EDGES
			MENUITEM SEPARATOR
			MENUITEM	"コミュニティに所属するノードを選択(&5)",					IDM_EDIT_FOR_ALL_SELECT_INNER_COMMUNITY_NODES
			MENUITEM	"コミュニティに所属するエッジを選択(&6)",					IDM_EDIT_FOR_ALL_SELECT_INNER_COMMUNITY_EDGES
			MENUITEM	"コミュニティに所属するノードとエッジを選択(&7)",			IDM_EDIT_FOR_ALL_SELECT_INNER_COMMUNITY_ELEMENTS
			MENUITEM SEPARATOR
			MENUITEM	"コミュニティに所属しないノードを選択(&8)",			IDM_EDIT_FOR_ALL_SELECT_OUTER_COMMUNITY_NODES
			MENUITEM	"コミュニティに所属しないエッジを選択(&9)",			IDM_EDIT_FOR_ALL_SELECT_OUTER_COMMUNITY_EDGES
			MENUITEM	"コミュニティに所属しないノードとエッジを選択(&0)",	IDM_EDIT_FOR_ALL_SELECT_OUTER_COMMUNITY_ELEMENTS
			MENUITEM SEPARATOR
			MENUITEM	"全てを選択(&A)\tShift+Ctrl+A",					IDM_EDIT_FOR_ALL_SELECT_ALL
			MENUITEM	"選択を反転(&I)\tShift+Ctrl+I",					IDM_EDIT_FOR_ALL_SELECT_INVERT
		END
		MENUITEM SEPARATOR
		POPUP "選択された要素を隠す(&3)"
		BEGIN
			MENUITEM	"現在のレイヤーで選択されたノードを対象(&N)",						IDM_EDIT_FOR_CURRENT_HIDE_MARKED_NODES
			MENUITEM	"現在のレイヤーで選択されたエッジを対象(&E)",						IDM_EDIT_FOR_CURRENT_HIDE_MARKED_EDGES
			MENUITEM	"現在のレイヤーで選択されたノードとエッジを対象(&A)\tCtrl+H",		IDM_EDIT_FOR_CURRENT_HIDE_MARKED_ELEMENTS
			MENUITEM SEPARATOR
			MENUITEM	"全てのレイヤーの選択されたノードを対象(&N)",						IDM_EDIT_FOR_ALL_HIDE_MARKED_NODES
			MENUITEM	"全てのレイヤーの選択されたエッジを対象(&E)",						IDM_EDIT_FOR_ALL_HIDE_MARKED_EDGES
			MENUITEM	"全てのレイヤーの選択されたノードとエッジを対象(&A)\tShift+Ctrl+H",	IDM_EDIT_FOR_ALL_HIDE_MARKED_ELEMENTS
		END
		POPUP "選択された要素の同一要素を全てのレイヤーから隠す(&4)"
		BEGIN
			MENUITEM	"現在のレイヤーで選択されたノードを対象(&N)",						IDM_EDIT_FOR_CURRENT_HIDE_MARKED_NODES_ALL
			MENUITEM	"現在のレイヤーで選択されたエッジを対象(&E)",						IDM_EDIT_FOR_CURRENT_HIDE_MARKED_EDGES_ALL
			MENUITEM	"現在のレイヤーで選択されたノードとエッジを対象(&A)",				IDM_EDIT_FOR_CURRENT_HIDE_MARKED_ELEMENTS_ALL
			MENUITEM SEPARATOR
			MENUITEM	"全てのレイヤーの選択されたノードを対象(&N)",						IDM_EDIT_FOR_ALL_HIDE_MARKED_NODES_ALL
			MENUITEM	"全てのレイヤーの選択されたエッジを対象(&E)",						IDM_EDIT_FOR_ALL_HIDE_MARKED_EDGES_ALL
			MENUITEM	"全てのレイヤーの選択されたノードとエッジを対象(&A)",				IDM_EDIT_FOR_ALL_HIDE_MARKED_ELEMENTS_ALL
		END
		MENUITEM SEPARATOR
		POPUP "隠れた要素を表示(&5)"
		BEGIN
			MENUITEM	"現在のレイヤーの隠れたノードを対象(&N)",							IDM_EDIT_FOR_CURRENT_SHOW_NODES
			MENUITEM	"現在のレイヤーの隠れたエッジを対象(&E)",							IDM_EDIT_FOR_CURRENT_SHOW_EDGES
			MENUITEM	"現在のレイヤーの隠れたノードとエッジを対象(&A)\tCtrl+U",			IDM_EDIT_FOR_CURRENT_SHOW_ELEMENTS
			MENUITEM SEPARATOR
			MENUITEM	"全てのレイヤーの隠れたノードを対象(&N)",							IDM_EDIT_FOR_ALL_SHOW_NODES
			MENUITEM	"全てのレイヤーの隠れたエッジを対象(&E)",							IDM_EDIT_FOR_ALL_SHOW_EDGES
			MENUITEM	"全てのレイヤーの隠れたノードとエッジを対象(&A)\tShift+Ctrl+U"		IDM_EDIT_FOR_ALL_SHOW_ELEMENTS
		END
		MENUITEM SEPARATOR
		POPUP "選択された要素を削除(&6)"
		BEGIN
			MENUITEM	"現在のレイヤーで選択されたノードを対象(&N)",						IDM_EDIT_FOR_CURRENT_REMOVE_MARKED_NODES
			MENUITEM	"現在のレイヤーで選択されたエッジを対象(&E)",						IDM_EDIT_FOR_CURRENT_REMOVE_MARKED_EDGES
			MENUITEM	"現在のレイヤーで選択されたノードとエッジを対象(&A)\tDel",			IDM_EDIT_FOR_CURRENT_REMOVE_MARKED_ELEMENTS
			MENUITEM SEPARATOR
			MENUITEM	"全てのレイヤーの選択されたノードを対象(&N)",						IDM_EDIT_FOR_ALL_REMOVE_MARKED_NODES
			MENUITEM	"全てのレイヤーの選択されたエッジを対象(&E)",						IDM_EDIT_FOR_ALL_REMOVE_MARKED_EDGES
			MENUITEM	"全てのレイヤーの選択されたノードとエッジを対象(&A)\tCtrl+Del",		IDM_EDIT_FOR_ALL_REMOVE_MARKED_ELEMENTS
		END
		POPUP "選択された要素の同一要素を全てのレイヤーから削除(&7)"
		BEGIN
			MENUITEM	"現在のレイヤーで選択されたノードを対象(&N)",						IDM_EDIT_FOR_CURRENT_REMOVE_MARKED_NODES_ALL
			MENUITEM	"現在のレイヤーで選択されたエッジを対象(&E)",						IDM_EDIT_FOR_CURRENT_REMOVE_MARKED_EDGES_ALL
			MENUITEM	"現在のレイヤーで選択されたノードとエッジを対象(&A)",				IDM_EDIT_FOR_CURRENT_REMOVE_MARKED_ELEMENTS_ALL
			MENUITEM SEPARATOR
			MENUITEM	"全てのレイヤーの選択されたノードを対象(&N)",						IDM_EDIT_FOR_ALL_REMOVE_MARKED_NODES_ALL
			MENUITEM	"全てのレイヤーの選択されたエッジを対象(&E)",						IDM_EDIT_FOR_ALL_REMOVE_MARKED_EDGES_ALL
			MENUITEM	"全てのレイヤーの選択されたノードとエッジを対象(&A)",				IDM_EDIT_FOR_ALL_REMOVE_MARKED_ELEMENTS_ALL
		END
	END

/////////////////////////////////////////////////////////////////////////////
	POPUP "描画(&V)"
	BEGIN
		MENUITEM "ノード(&1)\t1",				IDM_SHOW_NODE
		MENUITEM "エッジ(&2)\t2",				IDM_SHOW_EDGE
		MENUITEM "コミュニティ(&3)\t3",			IDM_SHOW_COMMUNITY
		MENUITEM "コミュニティエッジ(&4)\t4",	IDM_SHOW_COMMUNITY_EDGE
		MENUITEM SEPARATOR
		MENUITEM "ノードの名前(&5)\tShift+Ctrl+1",				IDM_SHOW_NODE_LABEL
		MENUITEM "エッジの名前(&6)\tShift+Ctrl+2",				IDM_SHOW_EDGE_LABEL
		MENUITEM "コミュニティの名前(&5)\tShift+Ctrl+3",		IDM_SHOW_COMMUNITY_LABEL
		MENUITEM "コミュニティエッジの名前(&6)\tShift+Ctrl+4",	IDM_SHOW_COMMUNITY_EDGE_LABEL
		MENUITEM SEPARATOR
		POPUP	"ノードの描画方法(&7)\tCtrl+1"
		BEGIN
			MENUITEM "ポリゴン(&1)",	IDM_NODE_STYLE_POLYGON
			MENUITEM "テクスチャ(&2)",	IDM_NODE_STYLE_TEXTURE
		END
		POPUP	"エッジの描画方法(&8)\tCtrl+2"
		BEGIN
// 			MENUITEM "直線(&1)",	IDM_EDGE_STYLE_STRAIGHT
// 			MENUITEM "2D曲線(&2)",	IDM_EDGE_STYLE_HCURVE
// 			MENUITEM "3D曲線(&3)",	IDM_EDGE_STYLE_VCURVE
// 			MENUITEM SEPARATOR
// 			MENUITEM "ライン(&4)",	IDM_EDGE_STYLE_LINE
// 			MENUITEM "テクスチャ(&5)",	IDM_EDGE_STYLE_TEXTURE
 			MENUITEM "ライン(&1)",	IDM_EDGE_STYLE_LINE
 			MENUITEM "テクスチャ(&2)",	IDM_EDGE_STYLE_TEXTURE
		END
		POPUP	"コミュニティの描画方法(&8)\tCtrl+3"
		BEGIN
			MENUITEM "ポリゴン(&1)",	IDM_COMMUNITY_STYLE_POLYGON_CIRCLE
			MENUITEM "テクスチャ(&2)",	IDM_COMMUNITY_STYLE_TEXTURE
		END
		POPUP	"コミュニティエッジの描画方法(&9)\tCtrl+4"
		BEGIN
//			MENUITEM "直線(&1)",	IDM_COMMUNITY_EDGE_STYLE_STRAIGHT
//			MENUITEM "2D曲線(&2)",	IDM_COMMUNITY_EDGE_STYLE_HCURVE
//			MENUITEM "3D曲線(&3)",	IDM_COMMUNITY_EDGE_STYLE_VCURVE
//			MENUITEM SEPARATOR
//			MENUITEM "ライン(&4)",	IDM_COMMUNITY_EDGE_STYLE_LINE
//			MENUITEM "テクスチャ(&5)",	IDM_COMMUNITY_EDGE_STYLE_TEXTURE
			MENUITEM "ライン(&1)",	IDM_COMMUNITY_EDGE_STYLE_LINE
			MENUITEM "テクスチャ(&2)",	IDM_COMMUNITY_EDGE_STYLE_TEXTURE
		END
		MENUITEM SEPARATOR
		POPUP "フォントのサイズ(&F)"
		BEGIN
			POPUP "ノードの名前(&1)"
			BEGIN
				MENUITEM	"小(&1)"	IDM_FONT_SIZE_NODE_0
				MENUITEM	"標準(&2)"	IDM_FONT_SIZE_NODE_1
				MENUITEM	"大(&3)"	IDM_FONT_SIZE_NODE_2
				MENUITEM	"特大(&4)"	IDM_FONT_SIZE_NODE_3
			END
			POPUP "エッジの名前(&2)"
			BEGIN
				MENUITEM	"小(&1)"	IDM_FONT_SIZE_EDGE_0
				MENUITEM	"標準(&2)"	IDM_FONT_SIZE_EDGE_1
				MENUITEM	"大(&3)"	IDM_FONT_SIZE_EDGE_2
				MENUITEM	"特大(&4)"	IDM_FONT_SIZE_EDGE_3
			END
			POPUP "コミュニティの名前(&3)"
			BEGIN
				MENUITEM	"小(&1)"	IDM_FONT_SIZE_COMMUNITY_0
				MENUITEM	"標準(&2)"	IDM_FONT_SIZE_COMMUNITY_1
				MENUITEM	"大(&3)"	IDM_FONT_SIZE_COMMUNITY_2
				MENUITEM	"特大(&4)"	IDM_FONT_SIZE_COMMUNITY_3
			END
			POPUP "コミュニティエッジの名前(&4)"
			BEGIN
				MENUITEM	"小(&1)"	IDM_FONT_SIZE_COMMUNITY_EDGE_0
				MENUITEM	"標準(&2)"	IDM_FONT_SIZE_COMMUNITY_EDGE_1
				MENUITEM	"大(&3)"	IDM_FONT_SIZE_COMMUNITY_EDGE_2
				MENUITEM	"特大(&4)"	IDM_FONT_SIZE_COMMUNITY_EDGE_3
			END
		END
		MENUITEM SEPARATOR
		POPUP	"ノードのサイズ(&N)"
		BEGIN
			MENUITEM "均等(&1)",			IDM_NODE_SIZE_UNIFORM
			MENUITEM "次数中心性(&2)",		IDM_NODE_SIZE_REPRESENTS_DEGREE_CENTRALITY
			MENUITEM "距離中心性(&3)",		IDM_NODE_SIZE_REPRESENTS_CLOSENESS_CENTRALITY
			MENUITEM "媒介中心性(&4)",		IDM_NODE_SIZE_REPRESENTS_BETWEENNESS_CENTRALITY
			MENUITEM "ページランク(&5)",	IDM_NODE_SIZE_REPRESENTS_PAGERANK
			MENUITEM SEPARATOR
			MENUITEM "点(&0)",				IDM_NODE_SIZE_NONE
		END
		MENUITEM SEPARATOR
		MENUITEM "レイヤー切り替えスライダー(&S)\tS",	IDM_SHOW_SLIDER
		MENUITEM "レイヤーの名前(&T)\tT",				IDM_SHOW_TIME_LABEL
		MENUITEM "グリッド(&G)\tG",						IDM_SHOW_GRID
		MENUITEM "中心点/注視点(&C)",					IDM_SHOW_CENTER
		MENUITEM "FPS(&P)",								IDM_SHOW_FPS
		MENUITEM SEPARATOR
		MENUITEM "視点の初期化(&V)\tHome",	IDM_KEY_HOME
		MENUITEM "拡大(&Z)\tPage Down",		IDM_KEY_SHIFT_CTRL_X
		MENUITEM "縮小(&X)\tPage Up",		IDM_KEY_SHIFT_CTRL_Z
	END

/////////////////////////////////////////////////////////////////////////////
	POPUP "レイアウト(&L)"
	BEGIN
		MENUITEM	"再計算\tSpace",							IDM_LAYOUT_EXECUTE
		MENUITEM SEPARATOR
		MENUITEM	"Kamada-Kawai法(&1)",						IDM_LAYOUT_KAMADA_KAWAI_METHOD
		MENUITEM	"HDE: High Dimensional Embedding(&2)",		IDM_LAYOUT_HIGH_DIMENSIONAL_EMBEDDING
		MENUITEM SEPARATOR
		MENUITEM	"リング：初期状態(&3)",						IDM_LAYOUT_CIRCLE
		MENUITEM	"リング：サイズ順(&4)",						IDM_LAYOUT_CIRCLE_IN_SIZE_ORDER
		MENUITEM	"配列(&5)",									IDM_LAYOUT_ARRAY
		MENUITEM	"ランダム(&6)",								IDM_LAYOUT_RANDOM
		MENUITEM SEPARATOR
		MENUITEM	"力学計算をリアルタイムで実行(&0)\tCtrl+Space",	IDM_LAYOUT_FORCE_DIRECTION
		MENUITEM SEPARATOR
		MENUITEM "レイアウトフレームの表示(&F)\tF",				IDM_SHOW_LAYOUT_FRAME
		MENUITEM "レイアウトフレームの初期化(&I)\tCtrl+Home",	IDM_KEY_CTRL_HOME
		MENUITEM SEPARATOR
		MENUITEM "グラフ作成時に自動レイアウト(&A)",			IDM_LAYOUT_AUTO
	END

/////////////////////////////////////////////////////////////////////////////
	POPUP "コミュニティ(&C)"
	BEGIN
		MENUITEM	"再計算\tEnter",						IDM_COMMUNITY_DETECTION_EXECUTE
		MENUITEM SEPARATOR
		MENUITEM	"連結成分分解(&1)",							IDM_CONNECTED_COMPONENTS
		MENUITEM	"強連結成分分解(&2)",						IDM_STRONGLY_CONNECTED_COMPONENTS
		MENUITEM	"3-クリークパーコレーション(&3)",		IDM_CLIQUE_PERCOLATION_3
		MENUITEM	"4-クリークパーコレーション(&4)",		IDM_CLIQUE_PERCOLATION_4
		MENUITEM	"5-クリークパーコレーション(&5)",		IDM_CLIQUE_PERCOLATION_5
		MENUITEM	"モジュラリティ最適化：欲張り法(&6)",	IDM_MODULARITY_MAXIMIZATION_USING_GREEDY_METHOD
		MENUITEM	"モジュラリティ最適化：τ-EO法(&7)",	IDM_MODULARITY_MAXIMIZATION_USING_TEO_METHOD
		MENUITEM	"媒介中心性分割(&8)",					IDM_BETWEENNESS_CENTRALITY_CLUSTERING
		MENUITEM SEPARATOR
		MENUITEM	"重み付きモジュラリティ(&W)",			IDM_USE_WEIGHTED_MODULARITY
		MENUITEM SEPARATOR
		MENUITEM	"初期化(&0)",							IDM_COMMUNITY_DETECTION_CLEAR
	END

/////////////////////////////////////////////////////////////////////////////
	POPUP "試験実装(&T)"
	BEGIN
		MENUITEM	"諸統計量の出力",	IDM_KEY_ENTER
		MENUITEM	"次数分布の出力",	IDM_KEY_ENTER
	END
END

/////////////////////////////////////////////////////////////////////////////
// ACCELERATORS

ACCEL ACCELERATORS 
BEGIN
	VK_DOWN,	IDM_KEY_CTRL_DOWN,		VIRTKEY,	CONTROL,	NOINVERT
	VK_DOWN,	IDM_KEY_DOWN,			VIRTKEY,				NOINVERT
	VK_ESCAPE,	IDM_KEY_ESCAPE,			VIRTKEY,				NOINVERT
	VK_SPACE,	IDM_KEY_SPACE,			VIRTKEY,				NOINVERT
	VK_SPACE,	IDM_KEY_CTRL_SPACE,		VIRTKEY,	CONTROL,	NOINVERT
	VK_HOME,	IDM_KEY_HOME,			VIRTKEY,				NOINVERT
	VK_HOME,	IDM_KEY_CTRL_HOME,		VIRTKEY,	CONTROL,	NOINVERT
	VK_END,		IDM_KEY_END,			VIRTKEY,				NOINVERT
	VK_DELETE,	IDM_KEY_DELETE,			VIRTKEY,				NOINVERT
	VK_DELETE,	IDM_KEY_CTRL_DELETE,	VIRTKEY,	CONTROL,	NOINVERT
	VK_INSERT,	IDM_KEY_INSERT,			VIRTKEY,				NOINVERT
	VK_LEFT,	IDM_KEY_CTRL_LEFT,		VIRTKEY,	CONTROL,	NOINVERT
	VK_LEFT,	IDM_KEY_LEFT,			VIRTKEY,				NOINVERT
	VK_NEXT,	IDM_KEY_NEXT,			VIRTKEY,				NOINVERT
	VK_PRIOR,	IDM_KEY_PRIOR,			VIRTKEY,				NOINVERT
	VK_RETURN,	IDM_KEY_ENTER,			VIRTKEY,				NOINVERT
	VK_RIGHT,	IDM_KEY_CTRL_RIGHT,		VIRTKEY,	CONTROL,	NOINVERT
	VK_RIGHT,	IDM_KEY_RIGHT,			VIRTKEY,				NOINVERT
	VK_UP,		IDM_KEY_CTRL_UP,		VIRTKEY,	CONTROL,	NOINVERT
	VK_UP,		IDM_KEY_UP,				VIRTKEY,				NOINVERT

	"A",	IDM_KEY_A,	VIRTKEY,	NOINVERT
	"B",	IDM_KEY_B,	VIRTKEY,	NOINVERT
	"C",	IDM_KEY_C,	VIRTKEY,	NOINVERT
	"D",	IDM_KEY_D,	VIRTKEY,	NOINVERT
	"E",	IDM_KEY_E,	VIRTKEY,	NOINVERT
	"F",	IDM_KEY_F,	VIRTKEY,	NOINVERT
	"G",	IDM_KEY_G,	VIRTKEY,	NOINVERT
	"H",	IDM_KEY_H,	VIRTKEY,	NOINVERT
	"I",	IDM_KEY_I,	VIRTKEY,	NOINVERT
	"J",	IDM_KEY_J,	VIRTKEY,	NOINVERT
	"K",	IDM_KEY_K,	VIRTKEY,	NOINVERT
	"L",	IDM_KEY_L,	VIRTKEY,	NOINVERT
	"M",	IDM_KEY_M,	VIRTKEY,	NOINVERT
	"N",	IDM_KEY_N,	VIRTKEY,	NOINVERT
	"O",	IDM_KEY_O,	VIRTKEY,	NOINVERT
	"P",	IDM_KEY_P,	VIRTKEY,	NOINVERT
	"Q",	IDM_KEY_Q,	VIRTKEY,	NOINVERT
	"R",	IDM_KEY_R,	VIRTKEY,	NOINVERT
	"S",	IDM_KEY_S,	VIRTKEY,	NOINVERT
	"T",	IDM_KEY_T,	VIRTKEY,	NOINVERT
	"U",	IDM_KEY_U,	VIRTKEY,	NOINVERT
	"V",	IDM_KEY_V,	VIRTKEY,	NOINVERT
	"W",	IDM_KEY_W,	VIRTKEY,	NOINVERT
	"X",	IDM_KEY_X,	VIRTKEY,	NOINVERT
	"Y",	IDM_KEY_Y,	VIRTKEY,	NOINVERT
	"Z",	IDM_KEY_Z,	VIRTKEY,	NOINVERT

	"A",	IDM_KEY_CTRL_A,	VIRTKEY,	CONTROL,	NOINVERT
	"B",	IDM_KEY_CTRL_B,	VIRTKEY,	CONTROL,	NOINVERT
	"C",	IDM_KEY_CTRL_C,	VIRTKEY,	CONTROL,	NOINVERT
	"D",	IDM_KEY_CTRL_D,	VIRTKEY,	CONTROL,	NOINVERT
	"E",	IDM_KEY_CTRL_E,	VIRTKEY,	CONTROL,	NOINVERT
	"F",	IDM_KEY_CTRL_F,	VIRTKEY,	CONTROL,	NOINVERT
	"G",	IDM_KEY_CTRL_G,	VIRTKEY,	CONTROL,	NOINVERT
	"H",	IDM_KEY_CTRL_H,	VIRTKEY,	CONTROL,	NOINVERT
	"I",	IDM_KEY_CTRL_I,	VIRTKEY,	CONTROL,	NOINVERT
	"J",	IDM_KEY_CTRL_J,	VIRTKEY,	CONTROL,	NOINVERT
	"K",	IDM_KEY_CTRL_K,	VIRTKEY,	CONTROL,	NOINVERT
	"L",	IDM_KEY_CTRL_L,	VIRTKEY,	CONTROL,	NOINVERT
	"M",	IDM_KEY_CTRL_M,	VIRTKEY,	CONTROL,	NOINVERT
	"N",	IDM_KEY_CTRL_N,	VIRTKEY,	CONTROL,	NOINVERT
	"O",	IDM_KEY_CTRL_O,	VIRTKEY,	CONTROL,	NOINVERT
	"P",	IDM_KEY_CTRL_P,	VIRTKEY,	CONTROL,	NOINVERT
	"Q",	IDM_KEY_CTRL_Q,	VIRTKEY,	CONTROL,	NOINVERT
	"R",	IDM_KEY_CTRL_R,	VIRTKEY,	CONTROL,	NOINVERT
	"S",	IDM_KEY_CTRL_S,	VIRTKEY,	CONTROL,	NOINVERT
	"T",	IDM_KEY_CTRL_T,	VIRTKEY,	CONTROL,	NOINVERT
	"U",	IDM_KEY_CTRL_U,	VIRTKEY,	CONTROL,	NOINVERT
	"V",	IDM_KEY_CTRL_V,	VIRTKEY,	CONTROL,	NOINVERT
	"W",	IDM_KEY_CTRL_W,	VIRTKEY,	CONTROL,	NOINVERT
	"X",	IDM_KEY_CTRL_X,	VIRTKEY,	CONTROL,	NOINVERT
	"Y",	IDM_KEY_CTRL_Y,	VIRTKEY,	CONTROL,	NOINVERT
	"Z",	IDM_KEY_CTRL_Z,	VIRTKEY,	CONTROL,	NOINVERT

	"A",	IDM_KEY_SHIFT_A,	VIRTKEY,	SHIFT,	NOINVERT
	"B",	IDM_KEY_SHIFT_B,	VIRTKEY,	SHIFT,	NOINVERT
	"C",	IDM_KEY_SHIFT_C,	VIRTKEY,	SHIFT,	NOINVERT
	"D",	IDM_KEY_SHIFT_D,	VIRTKEY,	SHIFT,	NOINVERT
	"E",	IDM_KEY_SHIFT_E,	VIRTKEY,	SHIFT,	NOINVERT
	"F",	IDM_KEY_SHIFT_F,	VIRTKEY,	SHIFT,	NOINVERT
	"G",	IDM_KEY_SHIFT_G,	VIRTKEY,	SHIFT,	NOINVERT
	"H",	IDM_KEY_SHIFT_H,	VIRTKEY,	SHIFT,	NOINVERT
	"I",	IDM_KEY_SHIFT_I,	VIRTKEY,	SHIFT,	NOINVERT
	"J",	IDM_KEY_SHIFT_J,	VIRTKEY,	SHIFT,	NOINVERT
	"K",	IDM_KEY_SHIFT_K,	VIRTKEY,	SHIFT,	NOINVERT
	"L",	IDM_KEY_SHIFT_L,	VIRTKEY,	SHIFT,	NOINVERT
	"M",	IDM_KEY_SHIFT_M,	VIRTKEY,	SHIFT,	NOINVERT
	"N",	IDM_KEY_SHIFT_N,	VIRTKEY,	SHIFT,	NOINVERT
	"O",	IDM_KEY_SHIFT_O,	VIRTKEY,	SHIFT,	NOINVERT
	"P",	IDM_KEY_SHIFT_P,	VIRTKEY,	SHIFT,	NOINVERT
	"Q",	IDM_KEY_SHIFT_Q,	VIRTKEY,	SHIFT,	NOINVERT
	"R",	IDM_KEY_SHIFT_R,	VIRTKEY,	SHIFT,	NOINVERT
	"S",	IDM_KEY_SHIFT_S,	VIRTKEY,	SHIFT,	NOINVERT
	"T",	IDM_KEY_SHIFT_T,	VIRTKEY,	SHIFT,	NOINVERT
	"U",	IDM_KEY_SHIFT_U,	VIRTKEY,	SHIFT,	NOINVERT
	"V",	IDM_KEY_SHIFT_V,	VIRTKEY,	SHIFT,	NOINVERT
	"W",	IDM_KEY_SHIFT_W,	VIRTKEY,	SHIFT,	NOINVERT
	"X",	IDM_KEY_SHIFT_X,	VIRTKEY,	SHIFT,	NOINVERT
	"Y",	IDM_KEY_SHIFT_Y,	VIRTKEY,	SHIFT,	NOINVERT
	"Z",	IDM_KEY_SHIFT_Z,	VIRTKEY,	SHIFT,	NOINVERT

	"A",	IDM_KEY_SHIFT_CTRL_A,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"B",	IDM_KEY_SHIFT_CTRL_B,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"C",	IDM_KEY_SHIFT_CTRL_C,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"D",	IDM_KEY_SHIFT_CTRL_D,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"E",	IDM_KEY_SHIFT_CTRL_E,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"F",	IDM_KEY_SHIFT_CTRL_F,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"G",	IDM_KEY_SHIFT_CTRL_G,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"H",	IDM_KEY_SHIFT_CTRL_H,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"I",	IDM_KEY_SHIFT_CTRL_I,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"J",	IDM_KEY_SHIFT_CTRL_J,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"K",	IDM_KEY_SHIFT_CTRL_K,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"L",	IDM_KEY_SHIFT_CTRL_L,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"M",	IDM_KEY_SHIFT_CTRL_M,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"N",	IDM_KEY_SHIFT_CTRL_N,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"O",	IDM_KEY_SHIFT_CTRL_O,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"P",	IDM_KEY_SHIFT_CTRL_P,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"Q",	IDM_KEY_SHIFT_CTRL_Q,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"R",	IDM_KEY_SHIFT_CTRL_R,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"S",	IDM_KEY_SHIFT_CTRL_S,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"T",	IDM_KEY_SHIFT_CTRL_T,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"U",	IDM_KEY_SHIFT_CTRL_U,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"V",	IDM_KEY_SHIFT_CTRL_V,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"W",	IDM_KEY_SHIFT_CTRL_W,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"X",	IDM_KEY_SHIFT_CTRL_X,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"Y",	IDM_KEY_SHIFT_CTRL_Y,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"Z",	IDM_KEY_SHIFT_CTRL_Z,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT

	"0",	IDM_KEY_0,	VIRTKEY,	NOINVERT
	"1",	IDM_KEY_1,	VIRTKEY,	NOINVERT
	"2",	IDM_KEY_2,	VIRTKEY,	NOINVERT
	"3",	IDM_KEY_3,	VIRTKEY,	NOINVERT
	"4",	IDM_KEY_4,	VIRTKEY,	NOINVERT
	"5",	IDM_KEY_5,	VIRTKEY,	NOINVERT
	"6",	IDM_KEY_6,	VIRTKEY,	NOINVERT
	"7",	IDM_KEY_7,	VIRTKEY,	NOINVERT
	"8",	IDM_KEY_8,	VIRTKEY,	NOINVERT
	"9",	IDM_KEY_9,	VIRTKEY,	NOINVERT
	
	"0",	IDM_KEY_CTRL_0,	VIRTKEY,	CONTROL,	NOINVERT
	"1",	IDM_KEY_CTRL_1,	VIRTKEY,	CONTROL,	NOINVERT
	"2",	IDM_KEY_CTRL_2,	VIRTKEY,	CONTROL,	NOINVERT
	"3",	IDM_KEY_CTRL_3,	VIRTKEY,	CONTROL,	NOINVERT
	"4",	IDM_KEY_CTRL_4,	VIRTKEY,	CONTROL,	NOINVERT
	"5",	IDM_KEY_CTRL_5,	VIRTKEY,	CONTROL,	NOINVERT
	"6",	IDM_KEY_CTRL_6,	VIRTKEY,	CONTROL,	NOINVERT
	"7",	IDM_KEY_CTRL_7,	VIRTKEY,	CONTROL,	NOINVERT
	"8",	IDM_KEY_CTRL_8,	VIRTKEY,	CONTROL,	NOINVERT
	"9",	IDM_KEY_CTRL_9,	VIRTKEY,	CONTROL,	NOINVERT
	
	"0",	IDM_KEY_SHIFT_0,	VIRTKEY,	SHIFT,	NOINVERT
	"1",	IDM_KEY_SHIFT_1,	VIRTKEY,	SHIFT,	NOINVERT
	"2",	IDM_KEY_SHIFT_2,	VIRTKEY,	SHIFT,	NOINVERT
	"3",	IDM_KEY_SHIFT_3,	VIRTKEY,	SHIFT,	NOINVERT
	"4",	IDM_KEY_SHIFT_4,	VIRTKEY,	SHIFT,	NOINVERT
	"5",	IDM_KEY_SHIFT_5,	VIRTKEY,	SHIFT,	NOINVERT
	"6",	IDM_KEY_SHIFT_6,	VIRTKEY,	SHIFT,	NOINVERT
	"7",	IDM_KEY_SHIFT_7,	VIRTKEY,	SHIFT,	NOINVERT
	"8",	IDM_KEY_SHIFT_8,	VIRTKEY,	SHIFT,	NOINVERT
	"9",	IDM_KEY_SHIFT_9,	VIRTKEY,	SHIFT,	NOINVERT
	
	"0",	IDM_KEY_SHIFT_CTRL_0,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"1",	IDM_KEY_SHIFT_CTRL_1,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"2",	IDM_KEY_SHIFT_CTRL_2,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"3",	IDM_KEY_SHIFT_CTRL_3,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"4",	IDM_KEY_SHIFT_CTRL_4,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"5",	IDM_KEY_SHIFT_CTRL_5,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"6",	IDM_KEY_SHIFT_CTRL_6,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"7",	IDM_KEY_SHIFT_CTRL_7,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"8",	IDM_KEY_SHIFT_CTRL_8,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"9",	IDM_KEY_SHIFT_CTRL_9,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
END
