// s.o.c.i.a.r.i.u.m: sociarium.rc
// HASHIMOTO, Yasuhiro (E-mail: hy @ sys.t.u-tokyo.ac.jp)

/* Copyright (c) 2005-2009, HASHIMOTO, Yasuhiro, All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *
 *   - Redistributions of source code must retain the above copyright
 *     notice, this list of conditions and the following disclaimer.
 *   - Redistributions in binary form must reproduce the above copyright
 *     notice, this list of conditions and the following disclaimer in the
 *     documentation and/or other materials provided with the distribution.
 *   - Neither the name of the University of Tokyo nor the names of its
 *     contributors may be used to endorse or promote products derived from
 *     this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 * TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
 * OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
 * OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// MENU

MENU MENU
BEGIN
/////////////////////////////////////////////////////////////////////////////
	POPUP "ファイル(&F)"
	BEGIN
		MENUITEM	"開く(&O)\tCtrl+O",	IDM_KEY_CTRL_O, GRAYED
		MENUITEM	"保存(&S)\tCtrl+S",	IDM_KEY_CTRL_S, GRAYED
		MENUITEM SEPARATOR
		MENUITEM	"終了(&Q)\tESC",	IDM_KEY_ESCAPE
	END


END


/////////////////////////////////////////////////////////////////////////////
// ACCELERATORS

ACCEL ACCELERATORS 
BEGIN
	VK_DOWN,	IDM_KEY_DOWN,			VIRTKEY,				NOINVERT
	VK_DOWN,	IDM_KEY_CTRL_DOWN,		VIRTKEY,	CONTROL,	NOINVERT
	VK_ESCAPE,	IDM_KEY_ESCAPE,			VIRTKEY,				NOINVERT
	VK_SPACE,	IDM_KEY_SPACE,			VIRTKEY,				NOINVERT
	VK_SPACE,	IDM_KEY_CTRL_SPACE,		VIRTKEY,	CONTROL,	NOINVERT
	VK_HOME,	IDM_KEY_HOME,			VIRTKEY,				NOINVERT
	VK_HOME,	IDM_KEY_CTRL_HOME,		VIRTKEY,	CONTROL,	NOINVERT
	VK_END,		IDM_KEY_END,			VIRTKEY,				NOINVERT
	VK_DELETE,	IDM_KEY_DELETE,			VIRTKEY,				NOINVERT
	VK_DELETE,	IDM_KEY_CTRL_DELETE,	VIRTKEY,	CONTROL,	NOINVERT
	VK_INSERT,	IDM_KEY_INSERT,			VIRTKEY,				NOINVERT
	VK_LEFT,	IDM_KEY_LEFT,			VIRTKEY,				NOINVERT
	VK_LEFT,	IDM_KEY_CTRL_LEFT,		VIRTKEY,	CONTROL,	NOINVERT
	VK_NEXT,	IDM_KEY_NEXT,			VIRTKEY,				NOINVERT
	VK_NEXT,	IDM_KEY_CTRL_NEXT,		VIRTKEY,	CONTROL,		NOINVERT
	VK_PRIOR,	IDM_KEY_PRIOR,			VIRTKEY,				NOINVERT
	VK_PRIOR,	IDM_KEY_CTRL_PRIOR,		VIRTKEY,	CONTROL,		NOINVERT
	VK_RETURN,	IDM_KEY_ENTER,			VIRTKEY,				NOINVERT
	VK_RIGHT,	IDM_KEY_RIGHT,			VIRTKEY,				NOINVERT
	VK_RIGHT,	IDM_KEY_CTRL_RIGHT,		VIRTKEY,	CONTROL,	NOINVERT
	VK_UP,		IDM_KEY_UP,				VIRTKEY,				NOINVERT
	VK_UP,		IDM_KEY_CTRL_UP,		VIRTKEY,	CONTROL,	NOINVERT

	"A",	IDM_KEY_A,	VIRTKEY,	NOINVERT
	"B",	IDM_KEY_B,	VIRTKEY,	NOINVERT
	"C",	IDM_KEY_C,	VIRTKEY,	NOINVERT
	"D",	IDM_KEY_D,	VIRTKEY,	NOINVERT
	"E",	IDM_KEY_E,	VIRTKEY,	NOINVERT
	"F",	IDM_KEY_F,	VIRTKEY,	NOINVERT
	"G",	IDM_KEY_G,	VIRTKEY,	NOINVERT
	"H",	IDM_KEY_H,	VIRTKEY,	NOINVERT
	"I",	IDM_KEY_I,	VIRTKEY,	NOINVERT
	"J",	IDM_KEY_J,	VIRTKEY,	NOINVERT
	"K",	IDM_KEY_K,	VIRTKEY,	NOINVERT
	"L",	IDM_KEY_L,	VIRTKEY,	NOINVERT
	"M",	IDM_KEY_M,	VIRTKEY,	NOINVERT
	"N",	IDM_KEY_N,	VIRTKEY,	NOINVERT
	"O",	IDM_KEY_O,	VIRTKEY,	NOINVERT
	"P",	IDM_KEY_P,	VIRTKEY,	NOINVERT
	"Q",	IDM_KEY_Q,	VIRTKEY,	NOINVERT
	"R",	IDM_KEY_R,	VIRTKEY,	NOINVERT
	"S",	IDM_KEY_S,	VIRTKEY,	NOINVERT
	"T",	IDM_KEY_T,	VIRTKEY,	NOINVERT
	"U",	IDM_KEY_U,	VIRTKEY,	NOINVERT
	"V",	IDM_KEY_V,	VIRTKEY,	NOINVERT
	"W",	IDM_KEY_W,	VIRTKEY,	NOINVERT
	"X",	IDM_KEY_X,	VIRTKEY,	NOINVERT
	"Y",	IDM_KEY_Y,	VIRTKEY,	NOINVERT
	"Z",	IDM_KEY_Z,	VIRTKEY,	NOINVERT

	"A",	IDM_KEY_CTRL_A,	VIRTKEY,	CONTROL,	NOINVERT
	"B",	IDM_KEY_CTRL_B,	VIRTKEY,	CONTROL,	NOINVERT
	"C",	IDM_KEY_CTRL_C,	VIRTKEY,	CONTROL,	NOINVERT
	"D",	IDM_KEY_CTRL_D,	VIRTKEY,	CONTROL,	NOINVERT
	"E",	IDM_KEY_CTRL_E,	VIRTKEY,	CONTROL,	NOINVERT
	"F",	IDM_KEY_CTRL_F,	VIRTKEY,	CONTROL,	NOINVERT
	"G",	IDM_KEY_CTRL_G,	VIRTKEY,	CONTROL,	NOINVERT
	"H",	IDM_KEY_CTRL_H,	VIRTKEY,	CONTROL,	NOINVERT
	"I",	IDM_KEY_CTRL_I,	VIRTKEY,	CONTROL,	NOINVERT
	"J",	IDM_KEY_CTRL_J,	VIRTKEY,	CONTROL,	NOINVERT
	"K",	IDM_KEY_CTRL_K,	VIRTKEY,	CONTROL,	NOINVERT
	"L",	IDM_KEY_CTRL_L,	VIRTKEY,	CONTROL,	NOINVERT
	"M",	IDM_KEY_CTRL_M,	VIRTKEY,	CONTROL,	NOINVERT
	"N",	IDM_KEY_CTRL_N,	VIRTKEY,	CONTROL,	NOINVERT
	"O",	IDM_KEY_CTRL_O,	VIRTKEY,	CONTROL,	NOINVERT
	"P",	IDM_KEY_CTRL_P,	VIRTKEY,	CONTROL,	NOINVERT
	"Q",	IDM_KEY_CTRL_Q,	VIRTKEY,	CONTROL,	NOINVERT
	"R",	IDM_KEY_CTRL_R,	VIRTKEY,	CONTROL,	NOINVERT
	"S",	IDM_KEY_CTRL_S,	VIRTKEY,	CONTROL,	NOINVERT
	"T",	IDM_KEY_CTRL_T,	VIRTKEY,	CONTROL,	NOINVERT
	"U",	IDM_KEY_CTRL_U,	VIRTKEY,	CONTROL,	NOINVERT
	"V",	IDM_KEY_CTRL_V,	VIRTKEY,	CONTROL,	NOINVERT
	"W",	IDM_KEY_CTRL_W,	VIRTKEY,	CONTROL,	NOINVERT
	"X",	IDM_KEY_CTRL_X,	VIRTKEY,	CONTROL,	NOINVERT
	"Y",	IDM_KEY_CTRL_Y,	VIRTKEY,	CONTROL,	NOINVERT
	"Z",	IDM_KEY_CTRL_Z,	VIRTKEY,	CONTROL,	NOINVERT

	"A",	IDM_KEY_SHIFT_A,	VIRTKEY,	SHIFT,	NOINVERT
	"B",	IDM_KEY_SHIFT_B,	VIRTKEY,	SHIFT,	NOINVERT
	"C",	IDM_KEY_SHIFT_C,	VIRTKEY,	SHIFT,	NOINVERT
	"D",	IDM_KEY_SHIFT_D,	VIRTKEY,	SHIFT,	NOINVERT
	"E",	IDM_KEY_SHIFT_E,	VIRTKEY,	SHIFT,	NOINVERT
	"F",	IDM_KEY_SHIFT_F,	VIRTKEY,	SHIFT,	NOINVERT
	"G",	IDM_KEY_SHIFT_G,	VIRTKEY,	SHIFT,	NOINVERT
	"H",	IDM_KEY_SHIFT_H,	VIRTKEY,	SHIFT,	NOINVERT
	"I",	IDM_KEY_SHIFT_I,	VIRTKEY,	SHIFT,	NOINVERT
	"J",	IDM_KEY_SHIFT_J,	VIRTKEY,	SHIFT,	NOINVERT
	"K",	IDM_KEY_SHIFT_K,	VIRTKEY,	SHIFT,	NOINVERT
	"L",	IDM_KEY_SHIFT_L,	VIRTKEY,	SHIFT,	NOINVERT
	"M",	IDM_KEY_SHIFT_M,	VIRTKEY,	SHIFT,	NOINVERT
	"N",	IDM_KEY_SHIFT_N,	VIRTKEY,	SHIFT,	NOINVERT
	"O",	IDM_KEY_SHIFT_O,	VIRTKEY,	SHIFT,	NOINVERT
	"P",	IDM_KEY_SHIFT_P,	VIRTKEY,	SHIFT,	NOINVERT
	"Q",	IDM_KEY_SHIFT_Q,	VIRTKEY,	SHIFT,	NOINVERT
	"R",	IDM_KEY_SHIFT_R,	VIRTKEY,	SHIFT,	NOINVERT
	"S",	IDM_KEY_SHIFT_S,	VIRTKEY,	SHIFT,	NOINVERT
	"T",	IDM_KEY_SHIFT_T,	VIRTKEY,	SHIFT,	NOINVERT
	"U",	IDM_KEY_SHIFT_U,	VIRTKEY,	SHIFT,	NOINVERT
	"V",	IDM_KEY_SHIFT_V,	VIRTKEY,	SHIFT,	NOINVERT
	"W",	IDM_KEY_SHIFT_W,	VIRTKEY,	SHIFT,	NOINVERT
	"X",	IDM_KEY_SHIFT_X,	VIRTKEY,	SHIFT,	NOINVERT
	"Y",	IDM_KEY_SHIFT_Y,	VIRTKEY,	SHIFT,	NOINVERT
	"Z",	IDM_KEY_SHIFT_Z,	VIRTKEY,	SHIFT,	NOINVERT

	"A",	IDM_KEY_SHIFT_CTRL_A,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"B",	IDM_KEY_SHIFT_CTRL_B,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"C",	IDM_KEY_SHIFT_CTRL_C,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"D",	IDM_KEY_SHIFT_CTRL_D,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"E",	IDM_KEY_SHIFT_CTRL_E,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"F",	IDM_KEY_SHIFT_CTRL_F,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"G",	IDM_KEY_SHIFT_CTRL_G,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"H",	IDM_KEY_SHIFT_CTRL_H,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"I",	IDM_KEY_SHIFT_CTRL_I,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"J",	IDM_KEY_SHIFT_CTRL_J,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"K",	IDM_KEY_SHIFT_CTRL_K,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"L",	IDM_KEY_SHIFT_CTRL_L,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"M",	IDM_KEY_SHIFT_CTRL_M,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"N",	IDM_KEY_SHIFT_CTRL_N,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"O",	IDM_KEY_SHIFT_CTRL_O,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"P",	IDM_KEY_SHIFT_CTRL_P,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"Q",	IDM_KEY_SHIFT_CTRL_Q,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"R",	IDM_KEY_SHIFT_CTRL_R,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"S",	IDM_KEY_SHIFT_CTRL_S,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"T",	IDM_KEY_SHIFT_CTRL_T,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"U",	IDM_KEY_SHIFT_CTRL_U,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"V",	IDM_KEY_SHIFT_CTRL_V,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"W",	IDM_KEY_SHIFT_CTRL_W,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"X",	IDM_KEY_SHIFT_CTRL_X,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"Y",	IDM_KEY_SHIFT_CTRL_Y,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"Z",	IDM_KEY_SHIFT_CTRL_Z,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT

	"0",	IDM_KEY_0,	VIRTKEY,	NOINVERT
	"1",	IDM_KEY_1,	VIRTKEY,	NOINVERT
	"2",	IDM_KEY_2,	VIRTKEY,	NOINVERT
	"3",	IDM_KEY_3,	VIRTKEY,	NOINVERT
	"4",	IDM_KEY_4,	VIRTKEY,	NOINVERT
	"5",	IDM_KEY_5,	VIRTKEY,	NOINVERT
	"6",	IDM_KEY_6,	VIRTKEY,	NOINVERT
	"7",	IDM_KEY_7,	VIRTKEY,	NOINVERT
	"8",	IDM_KEY_8,	VIRTKEY,	NOINVERT
	"9",	IDM_KEY_9,	VIRTKEY,	NOINVERT
	
	"0",	IDM_KEY_CTRL_0,	VIRTKEY,	CONTROL,	NOINVERT
	"1",	IDM_KEY_CTRL_1,	VIRTKEY,	CONTROL,	NOINVERT
	"2",	IDM_KEY_CTRL_2,	VIRTKEY,	CONTROL,	NOINVERT
	"3",	IDM_KEY_CTRL_3,	VIRTKEY,	CONTROL,	NOINVERT
	"4",	IDM_KEY_CTRL_4,	VIRTKEY,	CONTROL,	NOINVERT
	"5",	IDM_KEY_CTRL_5,	VIRTKEY,	CONTROL,	NOINVERT
	"6",	IDM_KEY_CTRL_6,	VIRTKEY,	CONTROL,	NOINVERT
	"7",	IDM_KEY_CTRL_7,	VIRTKEY,	CONTROL,	NOINVERT
	"8",	IDM_KEY_CTRL_8,	VIRTKEY,	CONTROL,	NOINVERT
	"9",	IDM_KEY_CTRL_9,	VIRTKEY,	CONTROL,	NOINVERT
	
	"0",	IDM_KEY_SHIFT_0,	VIRTKEY,	SHIFT,	NOINVERT
	"1",	IDM_KEY_SHIFT_1,	VIRTKEY,	SHIFT,	NOINVERT
	"2",	IDM_KEY_SHIFT_2,	VIRTKEY,	SHIFT,	NOINVERT
	"3",	IDM_KEY_SHIFT_3,	VIRTKEY,	SHIFT,	NOINVERT
	"4",	IDM_KEY_SHIFT_4,	VIRTKEY,	SHIFT,	NOINVERT
	"5",	IDM_KEY_SHIFT_5,	VIRTKEY,	SHIFT,	NOINVERT
	"6",	IDM_KEY_SHIFT_6,	VIRTKEY,	SHIFT,	NOINVERT
	"7",	IDM_KEY_SHIFT_7,	VIRTKEY,	SHIFT,	NOINVERT
	"8",	IDM_KEY_SHIFT_8,	VIRTKEY,	SHIFT,	NOINVERT
	"9",	IDM_KEY_SHIFT_9,	VIRTKEY,	SHIFT,	NOINVERT
	
	"0",	IDM_KEY_SHIFT_CTRL_0,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"1",	IDM_KEY_SHIFT_CTRL_1,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"2",	IDM_KEY_SHIFT_CTRL_2,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"3",	IDM_KEY_SHIFT_CTRL_3,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"4",	IDM_KEY_SHIFT_CTRL_4,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"5",	IDM_KEY_SHIFT_CTRL_5,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"6",	IDM_KEY_SHIFT_CTRL_6,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"7",	IDM_KEY_SHIFT_CTRL_7,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"8",	IDM_KEY_SHIFT_CTRL_8,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
	"9",	IDM_KEY_SHIFT_CTRL_9,	VIRTKEY,	SHIFT,	CONTROL,	NOINVERT
END
